body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.navbar-logo img {
  height: auto;
  max-height: 4.3rem;
  width: auto;
  max-width: 100%;
}

.item-img img {
  max-width: 100%;
  height: auto;
}


#site-header {
  position: fixed; /* Закріплюємо логотип на екрані */
  top: 10px;
  left: 10px;
  z-index: 9999; /* Поставимо його поверх іншого контенту */
}

#university-logo {
  width: 100px; /* Задаємо бажану ширину логотипу */
  height: auto; /* Автоматична висота для збереження пропорцій */
}
